<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Dejanos tu mensaje </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeContactar()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="formularioContacto" ng-submit="doContactar(formularioContacto)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="formData.nombre" name ="nombre">
        </label>
         <label class="item item-input">
          <span class="input-label">Correo electronico</span>
          <input type="text" ng-model="formData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Asunto</span>
          <input type="text" ng-model="formData.asunto">
        </label>
          <label class="item item-input">
          <span class="input-label">Telefono</span>
          <input type="text" ng-model="formData.tel">
        </label>
         <label class="item item-input">
    <textarea placeholder="Mensaje"  ng-model="formData.mensaje" ></textarea>
  </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Contactar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>