<ion-view view-title="Musicos de colombia"
          hide-back-button="true" >
	<ion-content padding="true"
	             scroll="false" >

		<!-- Form with floating labels -->
		<form ng-submit="login(loginForm)" novalidate="novalidate" name="loginForm" >
			<ion-list >
				
			</ion-list >


			<div class="button-bar">
  				  <button class="button button-positive "
			        type="submit" ><i class="ion-social-facebook"> Entrar</i>
			</button >
  				<a class="button button-calm">Registro con facebook</a>
 			 
</div>
			
		</form >
		<p class="text-center" >
			Ya tienes una cuenta?
			<a nav-direction="enter"
			   ui-sref="signup" >Registrar
			</a >
		</p >



	</ion-content >
</ion-view >
