 <ion-view title="Crear Publicidad">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
        <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            ng-click="contactar()" >
      <i class="ion-android-textsms"
         ng-class="" ></i >
    </button >
  </ion-nav-buttons >
      <ion-content has-header="true" padding="true">

<div class="list card">

  <div>


<div ng-repeat="art in artistasR" >
<div ng-repeat="i in art"> 
<div ng-if="i.$id == 'nombreArtista'">
 <div ng-init="nombre=i.$value"> {{nombre}}</div>
</div>

</div>
</div>

   <div class="card"  ng-repeat="art in artistasR">

  <div class="item item-body">
    <div class="item item-divider">

      <ion-list>


  
<div ng-repeat="i in art"> 

{{nombre}}
<div ng-if="i.$id == 'nombreArtista'">
cristhian
</div>

 <div ng-if="i.$id=='like'">
 <div ng-init="likes=i.$value"> {{likes}}</div>
    </div>


<div> 

 
 <ion-slide-box auto-play="false" show-pager="false" >
 <ion-slide ng-repeat="a in i">

  <img ng-click="verPorId(art.idUser)"class="full-image" ng-src="data:image/jpeg;base64,{{a}}" width="100%" /></ion-slide>
 </ion-slide-box>




</div>
  




</div>
  

  

  </div>
  <div>

</div>

 <p ng-init="id=codigos[$index]"></p>
  <div ng-repeat="s in art">
     

   

<div ng-show="s.$id =='id'">

     <p>
 {{li}} aca esta 
      <a href="#" class="subdued">{{s.$value}} like</a>
      <a href="#" class="subdued" ng-click="comentarios('{{id}}')">Comments</a>
    </p>
      <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">


      <i ng-show="leDiste='true'" class="icon ion-thumbsup" ng-click="darLike('{{id}}')"></i>
   
    </a> 
    <a class="tab-item" href="#" ng-click="comentarios('{{id}}')">
      <i class="icon ion-chatbox" ></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
  </div>

</div>
  </div>

</div>

</div>
</div>

    </ion-content>


    <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" nav-clear ui-sref="app.home">
          <i class="icon ion-music-note"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Artistas gold" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.chat">
          <i class="icon ion-ribbon-b"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Agregar" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.nuevo">
          <i class="icon ion-ios-search-strong"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
    </ion-view>