 <ion-view title="Crear Publicidad">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" padding="true">
<div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <ion-slide-box auto-play="false" show-pager="false">
   <ion-slide> <img class="full-image" src="http://www.mariachipalenque.co/assets/img/slider/fondo2.jpg"> </ion-slide>
   <ion-slide><img class="full-image" src="http://lorempixel.com/400/500/people/1"></ion-slide>
      </ion-slide-box>
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <div class="card">
  <div class="item item-divider">
   Nombre
  </div>
  <div class="item item-text-wrap">
    Mariachi palenque de Medellin
  </div>
   <div class="item item-divider">
   Telefono
  </div>
  <div class="item item-text-wrap">
   3132781123
  </div>
  <div class="item item-divider">
    WhatsApp
  </div>
  <div class="item item-text-wrap">
   3132781123
  </div>
   <div class="item item-divider">
    Email
  </div>
  <div class="item item-text-wrap">
   cristhian4545@gmail.com
  </div>
</div>
 <div class="item item-divider">
    Video promocional
  </div>
  <div class="item item-text-wrap">
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/1w1jBHruPeY" frameborder="0" allowfullscreen></iframe>
  </div>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>


    </ion-content>


      <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior" title="Home" nav-clear ui-sref="app.home">
          <i class="icon ion-music-note"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.chat">
          <i class="icon ion-ribbon-b"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Drink" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.drink">
          <i class="icon ion-plus-circled"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
    </ion-view>