 <ion-view class="intro" title="Paises">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
        <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            ng-click="contactar()" >
      <i class="ion-android-textsms"
         ng-class="" ></i >
    </button >
  </ion-nav-buttons >
      <ion-content has-header="true" padding="true">
     <form name="formPaises"
          novalidate="novalidate"
          ng-submit="cargarGrupos(formPaises)"
          class=" create-form" >
<div class="item item-divider">
   Pais
  </div>

            <select class="item item-input item-icon-right" id="pais"style="width: 100%; height: 50px">
  <option value="colombia">Colombia</option>
  <option value="mexico">Mexico</option>
  <option value="peru">Perú</option>
  <option value="ecuador">Ecuador</option>
  <option value="bolivia">Bolivia</option>
  <option value="chile">Chile</option>
  <option value="argentina">Argentina</option>
  <option value="costa rica">Costa rica</option>
  <option value="salvador">Salvador</option>
  <option value="guatemala">Guatemala</option>
</select>
         
        
  <div class="item item-divider">
  Ciudad
  </div>
 
         
           

            <select class="item item-input item-icon-right" id="ciudad" style="width: 100%; height: 50px" >
  <option selected value="medellin">Medellín</option>
  <option value="Armenia">Armenia</option>
  <option value="cali">cali</option>
  <option value="Ibague">Ibagué</option>
  <option value="bucaramanga">Mercedes</option>
  <option value="bogota">Bogotá</option>
  <option value="cartagena">Cartagena</option>
  <option value="santa marta">Santa marta</option>
  <option value="barranquilla">Barranquilla</option>
  <option value="sincelejo">Sincelejo</option>
  <option value="valledupar">Valledupar</option>


</select>

       

           
  <div class="item item-divider">
 Genero
  </div>

<select class="item item-input item-icon-right" id="genero" style="width: 100%; height: 50px" >

  <option value="artistasoro">Arstistas de Oro</option>
  <option value="agrupaciones">Agrupaciones </option>
  <option value="solistas">Solistas</option>
  <option value="vallenatos">Conjuntos vallenatos</option>
  <option value="reggaeton">Reggaeton</option>
  <option value="Mariachis">Mariachis</option>
  <option value="Duetos">Orquestas</option>
  <option value="papayeras">papayeras</option>
  <option value="trobadores">Trobadores</option>
  <option value="cristianos">Cristianos</option>
  <option value="llanera">Llanera</option>
  
</select>
       </div>  
   
 </form>
    </ion-content>


   <ion-footer-bar class="bar-positive" >
    <button class="button button-clear button-full"
           ng-click="cargarGrupos(formPaises)"  >Buscar Grupos
    </button >
    
  </ion-footer-bar >

    </ion-view>