 <ion-view class="intro" title="Paises">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
        <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            ng-click="contactar()" >
      <i class="ion-android-textsms"
         ng-class="" ></i >
    </button >
  </ion-nav-buttons >
      <ion-content has-header="true" padding="true">
     <form name="formPaises"
          novalidate="novalidate"
          ng-submit="cargarGrupos(formPaises)"
          class=" create-form" >


<ion-multiple-select title="Seleccionar Pais" options="paises" key-property="id" value-property="name" selected-property="selected" class="item item-input item-icon-right">
            <div class="input-label">
             Pais
            </div>
            <i class="icon ion-android-arrow-dropdown"></i>
          </ion-multiple-select>
          <input type="hidden"  value="{{ getOptionsSelected(paises, 'name', 'selected') }}" placeholder="bla bla" id="pais">
         <div class="card">
  <div class="item item-divider">
    Tu Pais es !
  </div>
  <div class="item item-text-wrap">
    {{ getOptionsSelected(paises, 'name', 'selected') }}
  </div>
</div>
         
           <ion-multiple-select title="Select Groups" template-url="templates/multipleSelect.html" options="groups" key-property="Id" value-property="Name" selected-property="Selected" class="item item-input item-icon-right" render-checkbox="false" >
            <div class="input-label">
             Departamentos
            </div>
             
            <i class="icon ion-android-arrow-dropdown"></i>
          </ion-multiple-select>
           <input type="hidden"  value=" {{ getOptionsSelected(groups, 'Name', 'Selected') }}" placeholder="bla bla" id="pais">


            <div class="card">
  <div class="item item-divider">
    Tu Departamento es !
  </div>
  <div class="item item-text-wrap">
    {{ getOptionsSelected(groups, 'Name', 'Selected') }}
  </div>
</div>
 </form>
    </ion-content>


   <ion-footer-bar class="bar-positive" >
    <button class="button button-clear button-full"
           ng-click="cargarGrupos(formPaises)"  >Buscar Grupos
    </button >
    <input type="submit" form="formPaises" />
  </ion-footer-bar >

    </ion-view>