
<ion-tabs class="tabs-icon-top tabs-background-royal tabs-color-light" >

	<ion-tab title="Comida"
	         icon-off="ion-ios-list-outline"
	         icon-on="ion-ios-list"
	         ui-sref="tab.lista" >
		<ion-nav-view name="inicio" ></ion-nav-view >
	</ion-tab >

		<ion-tab title="Registro"
		         icon-off="ion-ios-camera-outline"
		         icon-on="ion-ios-camera"
		         ui-sref="tab.track" >
			<ion-nav-view name="inicio" ></ion-nav-view >
		</ion-tab >

		<ion-tab title="Cuenta"
		         icon-off="ion-ios-gear-outline"
		         icon-on="ion-ios-gear"
		         ui-sref="tab.account" >
			<ion-nav-view name="tab-account" ></ion-nav-view >
		</ion-tab >

</ion-tabs >


				